{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}
    <div class="row">
        <div class="col-md-8 mb-3">
            <img class="rounded-circle account-img mr-2" src="{{ user.profile.image.url }}" style="width: 5rem; height: 5rem;">
            <div class="media-body">
                <h2 class="account-heading">{{ user }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <div class="col-md-8">
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">User Profile</legend>
                    {{ user_form|crispy }}
                    {{ profile_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock main %}